<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <!--设置别名-->
    <typeAliases>
        <package name="com.hym.po"/>
    </typeAliases>
    <!--1、配置环境，默认的环境ID为mysql-->
    <environments default="mysql">
        <!--配置ID为mysql的数据库环境-->
        <environment id="mysql">
            <!--使用JDBC的事务管理-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--2.配置Mapper的位置-->
    <mappers>
        <mapper resource="com/hym/mapper/SpecilMapper.xml"/>
    </mappers>
</configuration>